name: NPM publish

on:
  push:
    branches:
      - master
    paths:
      - ts/**
      - .github/workflows/**

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - uses: JS-DevTools/npm-publish@v4.1.4
        with:
          package: ts/ielib
